body {
    height: 100%;
    padding: 50px;
    padding-top: 0;
}

/* input box */
#gif-search, #image-limit {
    padding: 10px;
    border-radius: 10px;
    font-size: 22px;
}
#image-limit {
    width: 40px;
}
input[type=submit], .search-button{
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;   
    margin-left: 10px;  
    box-shadow: 0 0 10px black;
    background-color: orange;
}
.search-button {
    background-color: steelblue;
}
span {
    
    text-transform: uppercase;
    width: 20px;
    
}
input[type=submit]:hover {
    background-color: orangered;
}

.input-form {
    float: right;
    max-width: 450px;
    padding: 25px;
    border: 5px solid black;
    text-align: center;
}
p {
    margin: 15px auto;
    font-size: 20px;
    font-weight: 700;
}

#results-container {
    float: left;
    margin-top: 20px;
    max-width: 1080px;
}
.image-display {
    float: left;
    margin: 10px;
}