body {
    font-family: 'Bungee Inline', cursive;
    height: 100%;
    padding: 50px;
    padding-top: 0;
    background: #ba2737;
    background: -moz-linear-gradient(45deg, #ba2737 0%, #efc5ca 23%, #d24b5a 31%, #efc5ca 52%, #f18e99 66%, #f18e99 66%, #f18e99 73%, #d24b5a 89%, #d24b5a 100%);
    background: -webkit-linear-gradient(45deg, #ba2737 0%, #efc5ca 23%, #d24b5a 31%, #efc5ca 52%, #f18e99 66%, #f18e99 66%, #f18e99 73%, #d24b5a 89%, #d24b5a 100%);
    background: linear-gradient(45deg, #ba2737 0%, #efc5ca 23%, #d24b5a 31%, #efc5ca 52%, #f18e99 66%, #f18e99 66%, #f18e99 73%, #d24b5a 89%, #d24b5a 100%);
}

.resize {
    height: 50px;
    width: 50px;
}

.gif-btn {
    background: #cc0000;
    background: -moz-linear-gradient(top, #cc0000 0%, #111111 48%, #fff2f2 100%);
    background: -webkit-linear-gradient(top, #cc0000 0%,#111111 48%,#fff2f2 100%);
    background: linear-gradient(to bottom, #cc0000 0%,#111111 48%,#fff2f2 100%);
}
.gifSize {
    height: 250px;
    width: 250px;
}

.floatL {
    float: left;
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .gifSize {
        height: 250px;
        width: 250px;
    }
    .floatL {
        float: none;
        width: 100%;
    }
}